#================================================================================
#
#    bb/scripts/bbserver.service
#
#  © Copyright IBM Corporation 2017. All Rights Reserved
#
#    This program is licensed under the terms of the Eclipse Public License
#    v1.0 as published by the Eclipse Foundation and available at
#    http://www.eclipse.org/legal/epl-v10.html
#
#    U.S. Government Users Restricted Rights:  Use, duplication or disclosure
#    restricted by GSA ADP Schedule Contract with IBM Corp.
#
#================================================================================

# systemd service description for bbServer on I/O nodes


[Unit]
Description=bbserver - start bbServer I/O node
After=network.target


[Service]
Type=simple
ExecStart=/opt/ibm/bb/sbin/bbServer --config /etc/ibm/bb.cfg
PIDFile=/var/run/bbserver.pid
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=3
SendSIGKILL=yes


[Install]
WantedBy=default.target
