#================================================================================
#
#    csmrestd/etc/csmrestd.service 
#
#  © Copyright IBM Corporation 2015-2017. All Rights Reserved
#
#    This program is licensed under the terms of the Eclipse Public License
#    v1.0 as published by the Eclipse Foundation and available at
#    http://www.eclipse.org/legal/epl-v10.html
#
#    U.S. Government Users Restricted Rights:  Use, duplication or disclosure
#    restricted by GSA ADP Schedule Contract with IBM Corp.
#
#================================================================================

# systemd service description for csmrestd daemon

[Unit]
Description=csmrestd - CSM REST daemon
After=network-online.target csmd-master.service csmd-aggregator.service csmd-utility.service csmd-compute.service
Before=ibmpowerhwmon.service


[Service]
Type=simple
LimitCORE=infinity
ExecStart=/opt/ibm/csm/sbin/csmrestd -f /etc/ibm/csm/csmrestd.cfg
PIDFile=/var/run/csmrestd.pid
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=3
SendSIGKILL=yes


[Install]
WantedBy=default.target
